
@import url('https://fonts.googleapis.com/css?family=Oswald:100 200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
/*Color Scheme 
#85C5CA
#99C294
#64B6B7
*/

/*General section*/
body{
    font-family: exo;   
    
}


/* nav section*/

.menu-position{
    margin-top:1em;
}


.nav li a{
	text-decoration: none;
	border: 1px;
	border-radius: 5px;
	color: black;	
	font-weight: 500;
    text-align: center;
	
	
}
.nav a:hover{
	background-color: #64B6B7;
    opacity: 0.2;
  

}


/* call out section and home page main image*/

.image{
	background:url('../images/Seaturtle.png') no-repeat top fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative; 
	width: 100%;
	height: 25em;
    margin-top:15px;   

}



.callout{
	font-family: oswald;
	font-weight: 700;
	color: whitesmoke;	
	position: absolute;
	float: left;
}
.callout h1{
	align-items: center;
	justify-content: center;
	display: block;
}

.callout button {
    border-radius:2px;
    color: #64B6B7;
    background-color: whitesmoke;
    border-color: whitesmoke;
    align-items: center;
	justify-content: center;
	display: block;
    font-size: xx-large;
    font-weight:500;
}




.short-states{
    background-color:#85C5CA;
    width: 100%;
    
     
}
.short-state-second{
    background-color:#99C294;    
    width:100%;   
   
}



/*footer divided 4 section*/
.sub-form{
	clear:left;
	background-size: cover;
	background-position: center;

}
.subscribe{	
	padding: 20px;
}


.subscribe label {
    
    font-weight: 500;
}
.subscribe input{  
    
	background-color: transparent;
	width: 100%;
    margin: 5px 0px 20px 0px;
    border: 1px solid;
    border-radius: 2px;
	
}

/*Short about section*/
.about-us{
    background-color: white;
    padding:20px;

}
/*Designing the short states*/
.col-md-3 h1{
    font-family:oswald;
    font-weight: 500;
    color:whitesmoke;
    text-transform: uppercase;
    text-align: center;
}
.col-md-3 p{
    
    font-weight:500;
    color:whitesmoke;
    text-align: center;
}
.col-md-4 h5{
    font-family: oswald;
    font-weight:500;
    text-align: center;
    letter-spacing: 4px;
    padding-bottom: 0.7em;
  
}


.inline-block{
    display: inline-block;
    text-align: left;
    line-height: 2;
    font-weight: 600;
    padding: 50px 15px 0 15px;
    
}
/*Fitting the social links to the website */
.social{
   padding:20px;
   text-align:center;

}
.social h5{
    font-family: oswald;
    font-weight:500;
    text-align: center;
    letter-spacing: 4px;
}

.social ul a i{
   width:20px;
   font-size: 2em;
   line-height: 7px;
   color: #64B6B7;
   padding: 20px 20px 10px 15px;
}
.contact-us{
    padding:20px;
}
.contact-us ul{
    padding-top:3em;
    list-style: none;
    display:inline-block;
}
.contact-us ul li{
    display: flex;
}
.contact-us ul li b {
    padding:0.5em;
    font-family: exo;

}
.contact-us ul li a i{
   
   font-size: 2em;
   line-height: 7px;
   color: #64B6B7;
   padding: 20px 20px 10px 15px;
  
}

/*About page*/


.about{
    position: relative;
    align-items: center;
	justify-content: center;
    font-size:1.2em;
}
.about p{
    font-size:0.75em;
}     

.image-about{
    background: url('../images/Wind-Turbines.png') no-repeat left fixed;
    width: 100%;
    display: flex;
	align-items: center;
	justify-content: center;	
    margin: 0;
	padding: 0;
    color:whitesmoke;
    z-index: 1;
    background-size: cover;
}
.image-about h3{
    font-family: oswald;
    font-weight:500;
    letter-spacing: 4px;
    text-align: center;
}
.overlay{
    width:100%;
    height:100%;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    top:0;
    z-index:2;
}
article  {
    padding: 19px;
    text-align: left;
    margin-top: 40px;
    z-index:3;
    background-size: cover;
	background-position: center;  
    max-width: 2000px;
   
}
article h3{
    font-family:oswald;
    font-weight:500;
}
#about-main{
    padding: 0 30px 0 30px;
}
ul#members {
   text-align: left;
    list-style: none;
   }
.blockquote {   
    font-size: 1em;
}

.media{
    align-items: flex-end;
}
.media .blockquote h5{
     font-family: oswald;
     font-weight: 500;
}
/*News page*/
.news{
   background-color:#64B6B7;
}
.news h1{
    padding:1em 1em 0 1em;
    color: whitesmoke;
    font-family: oswald;
    text-align: center;
}
.news p {
    max-width:fit-content;
    padding:3em;    
    color:whitesmoke;
    font-size:1.2em;
    font-family: exo;
    text-align: left;
}
.news p b {
    font-family: oswald;
}
/*Events page*/
.events img{
    
    width: 100%;
    height: 100%;    
    padding: 1em;
    
}

/*project page*/
#photo{
    clear: both;
    column-count:2;
    margin: 8px;
    
    
}
#photo img{
    width:100%;
    margin:2px;
}

/*project page transparant layer for images */
.container{
    position: relative;
}
.container img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.container:hover img{
  opacity: 0.3;
}
.container:hover .middle {
  opacity: 1;
}
.middle p {
    display: inline;
    font-family: oswald;
    font-weight:700;
}





/* Project page for small screen sizes clickable forms in display and events poster readable*/

@media screen and (max-width: 768px){
.events img {
    display: none;
}
.events div{
    background: url("../images/eventssmall.jpg") no-repeat center;
    height: fit-content;
    width:100%;    
    
}
.events div h1{
    text-align: center;
    color:whitesmoke;
    font-family: oswald;
    font-weight:400;     
    padding-top: 2em;
    padding-bottom: 1em;
    font-size: 75px;   
}
.events div p{
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: xx-large;
    text-align: center;
    color:whitesmoke;
    font-family: exo;
    
}
.events div ul li{
    color: whitesmoke;
    padding-top:1em;    
    font-size: x-large;
    font-family: exo;
}
.events div b {
    color:whitesmoke;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: large;
    font-family: exo;
    text-align: center;
}

.container{
    text-align: center;
    color:whitesmoke;
    position: relative;
    
}
.container img {
  opacity: 0.5;
  display: block;
  width: 100%;
  height: auto; 
  padding-bottom:0.5em;
 
}
.middle {
 
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  
  
}
.middle p {
    font-family: oswald;
    font-weight:700;
}
}

