
@import url('https://fonts.googleapis.com/css?family=Oswald:100 200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body{
    font-family: exo;
    
}
/*Fixing the horizantal scroll apparently row class comes with -15 margin by default*/
.row{
    margin-left:0em !important;
    margin-right:0em !important;

}
/* nav section*/

.menu-position{
    margin-top:1em;
}

#logo{
	display: inline-block;	
	margin-top: 0;
    z-index: 1;
   /* margin-left: 20px;*/

}


.nav li a{
	text-decoration: none;
	border: 1px;
	border-radius: 5px;
	color: black;	
	font-weight: 500;
	
	
}
.nav a:hover{
	background-color: rgb(0,0,0,0.2);

}


/* call out section*/

.image{
	background:url('../images/Seaturtle.png') no-repeat top fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative; 
	width: 100%;
	height: 25em;
    margin-top:15px;   

}



.callout{
	font-family: oswald;
	font-weight: 700;
	color: whitesmoke;	
	position: absolute;
	float: left;
}
.callout h1{
	align-items: center;
	justify-content: center;
	display: block;
}



.short-states{
    background-color:#85C5CA;
    width: 100%;
    /* #98D2EB;*/
     
}
.short-state-second{
    background-color:#99C294;
    /*8cb687*/;
    width:100%;
    
    /* #5085e9;*/
}
#the-third{
    background-color: #98D2EB;
    width:100%;
    /*#a3c797;*/
}
#the-forth{
    background-color: #E1F2FE;
    width:100%;
    
    /*#e1d874;*/

}

/*footer*/
.sub-form{
	clear:left;
	background-size: cover;
	background-position: center;

}
.subscribe{
	
	padding: 20px;

}


.subscribe label {
    
    font-weight: 500;
}
.subscribe input{  
    
	background-color: transparent;
	width: 100%;
    margin: 5px 0px 20px 0px;
    border: 1px solid;
    border-radius: 2px;
	
}

.about-us{
    background-color: white;
    padding:20px;

}

.col-md-3 h1{
    font-family:oswald;
    font-weight: 500;
    color:whitesmoke;
    text-transform: uppercase;
    text-align: center;
}
.col-md-3 p{
    
    font-weight:500;
    color:whitesmoke;
    text-align: center;
}
.col-md-4 h5{
    font-family: oswald;
    font-weight:500;
    text-align: center;
    letter-spacing: 4px;
  
}
h3{
    font-family: oswald;
    font-weight:500;
    letter-spacing: 4px;
    text-align: center;
}

.inline-block{
    display: inline-block;
    text-align: left;
    line-height: 2;
    font-weight: 600;
    padding: 50px 15px 0 15px;
    
}
.social{
   padding:20px;
   text-align:center;

}

.social li a i{
   width:20px;
   font-size: 2em;
   line-height: 7px;
   color: #3f8d36;
   padding: 20px 20px 10px 15px;
}


/*About page*/
.col-12{
    padding-left: 0em !important;
    padding-right:0em !important;
}
.about{
    position: relative;
    align-items: center;
	justify-content: center;
    font-size:1.2em;
}
.about p{
    font-size:0.75em;
}     

.image-about{
    background: url('../images/Wind-Turbines.png') no-repeat left fixed;
    width: 100%;
    display: flex;
	align-items: center;
	justify-content: center;	
    margin: 0;
	padding: 0;
    color:whitesmoke;
    z-index: 1;
    background-size: cover;
}
.overlay{
    width:100%;
    height:100%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top:0;
    z-index:2;
}
article  {
    padding: 19px;
    text-align: left;
    margin-top: 40px;
    z-index:3;
    background-size: cover;
	background-position: center;  
    max-width: 2000px;
   
}
#about-main{
    padding: 0 30px 0 30px;
}
ul#members {
   text-align: left;
    list-style: none;
   }
.blockquote {
  
    font-size: 1em;
}



/*project page*/
#photo{
    clear: both;
    column-count:3;
    margin: 8px;
    
    
}
#photo img{
    width:100%;
    margin:2px;
}

/*project page transparant layer for images */
.container{
    position: relative;
}
.container img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.container:hover img{
  opacity: 0.3;
}
.container:hover .middle {
  opacity: 1;
}
.middle p {
    font-family: oswald;
    font-weight:700;
}

.menu-btn{
    display:none;
}
/* Menu button for small screen sizes

@media screen and (max-width: 700px){}*/

