
@import url('https://fonts.googleapis.com/css?family=Oswald:100 200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
header{
    margin: 0;
}
body{
    font-family: exo;
}

#logo{
	display: inline-block;
	position: absolute;
	margin-top: 0;
    z-index: 1;
	
}
ul#nav {
	float: right;
    
}

.image{
	background:url('/assets/images/Seaturtle.png') no-repeat bottom right fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative; 
	width: 100%;
	height: 570px;
	margin: 0;
	padding: 0;
	left: 0; 
    

}

.col-sm-3 {
	max-width: 10%;
}
#nav li a{
	text-decoration: none;
	border: 1px;
	border-radius: 5px;
	color: black;
	
	font-weight: 500;
	float: right;
	margin-right: 30px;
}
#nav a:hover{
	background-color: rgb(0,0,0,0.2);

}

.callout{
	font-family: oswald;
	font-weight: 700;
	color: whitesmoke;	
	position: absolute;
	float: left;
}
.callout h1{
	align-items: center;
	justify-content: center;
	display: block;
}

.sub-form{
	clear:left;
	background-size: cover;
	background-position: center;

}
.subscribe{
	
	padding: 20px;

}
.col-md-4 h5{
    font-family: oswald;
    font-weight:500;
    text-align: center;
    letter-spacing: 4px;
  
}

.subscribe label {
    
    font-weight: 500;
}
.subscribe input{
    
    
	background-color: transparent;
	width: 100%;
    margin: 5px 0px 20px 0px;
    border: 1px solid;
    border-radius: 2px;
	
}

#the-first{
    background-color: #1a1877;
     
}
#the-second{
    background-color: #5085e9;
}
#the-third{
    background-color: #a3c797;
}
#the-forth{
    background-color: #e1d874;

}
.about{
    background-color: white;
}
.col-md-3 h1{
    font-family:oswald;
    font-weight: 500;
    color: whitesmoke;
    text-transform: uppercase;
    text-align: center;
}
.col-md-3 p{
    
    font-weight:500;
    color: whitesmoke;
    text-align: center;
}

.inline-block{
    display: inline-block;
    text-align: left;
    line-height: 2;
    font-weight: 600;
    padding: 50px 15px 0 15px;
    
}
.social{
   
    align-content: center;
}
.social li a {
   
    margin-left: 10px;
    
   
}
footer{
    background-color: #dffbfb;
}
.about{
    position: relative;
    
    

}
.image-about{
    background: url('/assets/images/Wind-Turbines.png') no-repeat top left fixed;
    width: 100vw;
    height:609px ;
    display: flex;
	align-items: center;
	justify-content: center;
	position: relative; 
    margin: 0;
	padding: 0;
    color:whitesmoke;
    z-index: 1;
    background-size: cover;



}
.overlay{
    width:100%;
    height:100%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top:0;
    left:0;
    z-index:2;
}
article  {
    padding: 19px;
    text-align: center;
    margin-top: 40px;
}
}